EMAIL_FROM=""
EMAIL_PROVIDER=""

GEMINI_API_KEY=""
GEMINI_MODEL=""

INNGEST_EVENT_KEY=""
INNGEST_SIGNING_KEY=""

LLAMAPARSE_API_KEY=""
LLAMAPARSE_COMPLEX_ONLY=""
LLAMAPARSE_ENABLED=""
LLAMAPARSE_MODE=""

MAX_UPLOAD_MB=""
NEXT_PUBLIC_APP_URL=""

NEXT_PUBLIC_MAX_UPLOAD_MB=""

NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_SUPABASE_URL=""

QDRANT_API_KEY=""
QDRANT_COLLECTION=""
QDRANT_URL=""

RAG_DEBUG=""
RAG_MAX_CONTEXT_CHARACTERS=""
RAG_QDRANT_FETCH_K=""
RAG_RERANK_ENABLED=""
RAG_RERANK_TOP_K=""
RAG_SCORE_THRESHOLD=""
RAG_TOP_K=""

RESEND_API_KEY=""

SPRINGVOX_CHAT_PROVIDER=""

SPRINGVOX_EMBEDDING_DIMENSIONS=""
SPRINGVOX_EMBEDDING_PROVIDER=""

SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_STORAGE_BUCKET=""

VOYAGE_API_KEY=""
VOYAGE_EMBEDDING_MODEL=""
VOYAGE_RERANK_MODEL=""